.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }

  .auth{
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-top: 15%;
    padding-bottom: 15%;
  }