.buttonCancel{
    width: 25%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-left: -20px;
    margin-top: 20px;
    margin-right: 40px;
  }
  .buttonAccept{
    width: 25%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-left:    20px;
    margin-top: 20px;
    margin-right: 50px;
  }