.Form{
    text-align: center;
    padding-right: 20%;
}
.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
.auth-Menu {
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 20%;
    padding-left: 2%;
    padding-right: 0%;
}
.rate{
  width: 220px;
}
.tabs1{
 margin-bottom: 10px ;
}  
.timeline{
  margin-bottom: -30px ;
 } 
.tabs{
  background-color: #d6d6d6 ;
  border-color: #d6d6d6;
  width: 490px;
  margin-bottom: 20px ;
}  
.butttonAccept{
  margin-right: 30px;
  margin-left: 130px;
  width: 100px; 
}
.butttonReffuse{
  width: 100px; 
}
.auth-signup-info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
    text-align: center;
  }



      
      