.imageAuthInfoUser {
  width: 60%;
  height: 130%;
}
.contentImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}
.ButtonCach{
  width: 35%;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  background: white;
  border-color: white;
  color: black;
}
.cc{
  margin-right: 10px;
}
.Form{
    text-align: center;
    padding-right: 20%;
}
.ClickRetourInfo{
  font-size: 30px;
}
.typeofcars{
  margin-right: -169px;
  margin-bottom: 106px;
}
.paymentMethode {
  margin-top: 107px;
}
.text-paymentMethode{
  margin-top: 15px;
}
.noteToDriver{
margin-top: 140px;}
.InfoBooking{
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
.timelineInfo {
  height: 75px;
}
 .infoBag{
  margin-right: 150px;
  margin-bottom: 15px;
}
.Pricing{
    margin-bottom: 10px;
    margin-top: -8px;
  }
.totalText{
    color:#5eb89a ;
    margin-top: 10px;
  }
.pricingequipe{
  margin-right: 210px;
  margin-bottom: -35px;
}
.pricingDeliveryequipe{
  margin-right: 210px;

}
.pricingShippingequipe{
  margin-right: 205px;
}
.pricingBoardingequipe{
  margin-right: 204px;
}
.text-totale-amount{
  margin-top: 15px;
  margin-right: 180px;
  color: #66CDAA;
}
.TotalAmount1{
  margin-bottom: 15px;
  margin-top: 22px;
  color: #66CDAA;
}
.buttonConfirm{
  width: 30%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}
.buttonMap{
  width: 30%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
}