.imageAuthInfoUser {
  width: 60%;
  height: 115%;
}
.ButtonCach{
  width: 35%;
  height: 30px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  background: white;
  border-color: white;
  color: black;
}
.TextPaymentMethode{
  margin-top: -5px;
}
.Form{
    text-align: center;
    padding-right: 20%;
}
.ClickRetourInfo{
  font-size: 30px;
}
.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
.InfoBooking{
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: 20%;
  padding-left: 1%;
  padding-right: 4%;
}
.button-Info{
    width: 50%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 140px;
  }
  .timelineInfo {
    background-color: #DCDCDC;
    height: 100px;
}
.typeofcars{
    margin-right: 150px;
    margin-bottom: 90px;
 }
.noteToDriver{
     margin-top: 15px;
   }
.Pricing{
    margin-bottom: 2px;
    margin-top: 10px;
  }
.totalText{
    color:#5eb89a ;
  }
.pricingequipe{
  margin-right: 210px;
}
.pricingDeliveryequipe{
  margin-right: 210px;

}
.pricingShippingequipe{
  margin-right: 205px;
}
.pricingBoardingequipe{
  margin-right: 204px;
}
.texttottalamount{
  margin-right: 180px;
  color: #66CDAA;
}
.TotalAmount20{
  margin-bottom: 15px;
  margin-top: 10px;
  color: #66CDAA;
}
