.NoteToDriver{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 7%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
  }
.button-NoteDriver{
    width: 50%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-left: 110px;
}
.NoteToDriverAuth{
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 20%;
  padding-left: 4%;
  padding-right: 4%;
}
.inputnotetodriver{
  margin-bottom: 25px;
}
.ClickRetourNoteToDriver{
  font-size: 30px;
  padding-right: 90%;
  margin-bottom: 40px;
}
      
      