.auth-signup-info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
  }