.auth-signup-info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
    text-align: center;
}
.button-Done-Successful{
    width: 40%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-left: 80px;
    margin-right: 80px;
}