
.settigText{
  margin-right: 50px;
  display: flex;
}
.button-SettingDriver{
  width: 70%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-left: -20px;
  margin-top: 20px;
}
.imageAuthSettingDriver{
  width: 60%;
  height: 112.5%;
}
.logOut{
  color: red;
  font-size: 20px;
}
.h3Text{
  margin-right: 180px;
}
.Edit{
  margin-left: 300px;
  margin-top: 6px;
  font-size: 15px;
  color: #66CDAA;
}

