.paymentMethode{
  margin-top: 90px;
}
.imageAuthInfo{
  width: 60%;
  height: 100%;
}
.buttonMap{
  width: 35%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-left: -20px;
  margin-top: 20px;
  margin-right: 20px;
}
.buttonMap{
  width: 35%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 40px;
}
.ClickRetourDetaille {
  font-size: 30px;
  margin-bottom: 10px;
}