.Form{
    text-align: center;
    padding-right: 20%;
}
.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .SelectPaymentMethode{
    background-color:#00BFFF;
    color: white;
    border-radius: 9px;
    margin-right: 150px;
    margin-bottom: 20px;
  }
  .buttonPaymentMethode{
    width: 50%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
.PaymentMethode{
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 20%;
  padding-left: 7%;
  padding-right: 4%;
}
  .ButtonPaymentUser{
    width: 45%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-right: -2px;
  }
 .text{
   margin-bottom: 35px;
 }
 .MethodePayment{
   margin-bottom: 20px;
 }
.ClickRetourPaymentMethode{
  font-size: 30px;
  padding-right: 90%;
  margin-bottom: 40px;
}


      
      