.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .auth-signup-info{
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 4%;
  }
  .imageAuth {
    height: 635px;
}
  .Signup{
    margin-left: 10px;
    font-size: 15px;
    color: #66CDAA;
  }
  .NotYetRegister{
    margin-left: 95px;
  }
  .ClickRetourSignin {
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 360px;
}
