.leaflet-container {
  position: initial;
  height: 100px;
    width: 1000px;
  }
  .map{
    height: 100vh;
    position: relative;
}
.text{
  margin-bottom: 40px;
}
.select{
  margin-bottom: 15px;
}
  .contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .Auth-Signup-Info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 20%;
    padding-left: 1%;
    padding-right: 4%;
  }
  .select{
    background-color:#6CC417;
    color: white;
    border-radius: 9px;
  }
  .buttonMapInfo{
    width: 80%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background: #66CDAA;
    border-color: #66CDAA;
  }
  .buttonNext {
    width: 45%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    background: #66CDAA;
    border-color: #66CDAA;
}
.buttonRoute{
  width: 45%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  background: #66CDAA;
  border-color: #66CDAA;
}
.ClickRetourMenu {
  font-size: 25px;
  padding-right: 90%;
  padding-bottom: 15px;
}
.troisLigneMenuMap{  
  font-size: 25px;
  margin-right: 310px;
}