.leaflet-container {
  position: initial;
  height: 150px;
    width: 1000px;
  }
  .contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .auth-signup-info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 6%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
  }
  .buttonMapInfo{
    width: 80%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background: #66CDAA;
    border-color: #66CDAA;
  }
  .buttonNext {
    width: 45%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    background: #66CDAA;
    border-color: #66CDAA;
}
.buttonRoute{
  width: 45%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  background: #66CDAA;
  border-color: #66CDAA;
}
.ClickRetourMenu {
  font-size: 25px;
  padding-right: 90%;
  padding-bottom: 15px;
}
.troisLigneMenuMap{  
  font-size: 25px;
  margin-right: 310px;
}