.paymentMethode{
  margin-top: 90px;
}
.imageAuthInfo{
  width: 60%;
  height: 100%;
}
.button-cancel-Offer{
  width: 40%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-left: -20px;
  margin-top: 20px;
  margin-right: 20px;
}
.button-Accept-Offer{
  width: 40%;
  height: 40px;
  border-radius: 9px;
  text-align: center;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 40px;
}