.Form{
    text-align: center;
    padding-right: 20%;
}
.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .TypeOfCars{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
  }
.button-TypeOfCars{
    width: 50%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 60px;
}
.ClickRetourPoids{
  font-size: 30px;
}




      
      