.Form{
    text-align: center;
    padding-right: 20%;
    }
    .contentImage{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
      }
      .imageAuth{
        height: 656px;
      }
      .signup-info-User{
        width: 40%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 20%;
        padding-left: 2%;
        padding-right: 5%;
      }
      .button-signup-User{
          width: 50%;
          height: 40px;
          border-radius: 9px;
          text-align: center;
          font-size: 16px;
          margin-top: 10px;
          margin-right: 70px;
          margin-left: 50px;
      }
      .Already-have-an-account-Login {
        margin-left: 20px;
      }
      
      