.Form{
    text-align: center;
    padding-right: 20%;
}
.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .ButtonMenu{
    width: 35%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background: white;
    border-color: white;
    color: black;
  }
.tabs{
  background-color: #d6d6d6 ;
  border-color: #d6d6d6;
  width: 300px;
}  
.auth-signup-info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
    text-align: center;
  }
  .button-Next-poids{
    width: 50%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 70px;
  }
  .inputProfondeur{
    padding-right : 7%;
  }
  .divAdem{
    display: flex;
    margin-right: 120px;
  }



      
      