.Form{
    text-align: center;
    padding-right: 20%;
}
.contentImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
.tabs{
  background-color: #e6e6e6 ;
  border-color: #e6e6e6;
  width: 300px;
}  
.auth-signup-info{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 4%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 4%;
    text-align: center;
  }
  .xx{
    margin-top: -20px;
  }
  .refresh{
    margin-left: 450px;
    font-size: 20px;
  }
  .rate{
    width: 220px;
    margin-bottom: 15px;
    margin-top: -25px;
  }
  .ant-rate-text{
    color: #000000;
    margin-top: 5px;
  }



      
      