.navbar{
    overflow: hidden;
    color: black; 
    position:relative;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}
  .container {
    width: 70%;
    margin: auto; 
  }
.logo_Logistica{
    font-size: 25px;
    width: 30%;
    float: left;
    display: block;
    margin: 10px 0;
    color: #4abd96;
  }
  .button_disconnection{
    background-color: #fcb5b0;
    border: #fcb5b0;
    border-radius: 6px;
  }
  .button_navbar{
    color: #000000;
  }
  ul{
    width: 70%;
    float: left;
    padding: 15px;
    text-align: right;
  }
  ul a {
    text-decoration: none;
    color: black;
    margin: 0px 25px ;
    font-size: 15px;
  }
  