.signup {
    color: rgb(14, 49, 36);
}
.DashboardImage{
  background-image: 
  url(https://images.pexels.com/photos/579353/pexels-photo-579353.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 );
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
.TextDashbord{
    text-align: center;
    margin-top: 15%;
    font-size: 16px;
  }
  .buttonJoinUs{
    width: 55%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background: #66CDAA ;
    border-color: #66CDAA;
  }