body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  overflow: hidden;
  background: red;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
}

.logo_Logistica{
  font-size: 25px;
  width: 30%;
  float: left;
  display: block;
  margin: 10px 0;
  color: white;
}


ul{
  width: 70%;
  float: left;
  padding: 0;
  text-align: right;
}


ul a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content{
  text-align: center;
  margin-top: 15% ;
}
