body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  overflow: hidden;
  color: black; 
  position:sticky;
  top: 0;
  width: 100%;
}
.container {
  width: 70%;
  margin: auto; 
}
.logo_Logistica{
  font-size: 25px;
  width: 30%;
  float: left;
  display: block;
  margin: 10px 0;
  color: #66CDAA;
}
ul{
  width: 70%;
  float: left;
  padding: 15px;
  text-align: right;
}
ul a {
  text-decoration: none;
  color: black;
  margin: 0px 25px ;
  font-size: 15px;
}

