.auth-Menu{
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 4%;
  }
  .ClickRetourMenu{
    font-size: 30px;
    padding-right: 90%;
    padding-bottom: 50px;
  }
  .iconsImageProfile{
    margin-bottom: 20px;
  }
  .ButtonMenu{
    width: 35%;
    height: 40px;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background: white;
    border-color: white;
    color: black;
  }